@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Sora', sans-serif;
    background-color: #FAFAF9;
}

.container {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.star {
    background-image: url('https://em-content.zobj.net/source/apple/354/star_2b50.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    position: relative;
    margin-bottom: 5px;
}

.star::before {
    content: '';    
    background-color: #F5C044;
    width: 50px;
    height: 50px;
    z-index: -1;
    position: absolute;
    top: -10px;
    left: -10px;
    border-radius: 50%;
}

.text-container > h2 {
    font-size: 2.25rem;
    font-weight: 700;
}

.text-container > p {
    font-size: 1.25rem;
    color: #52525A;
    line-height: 30px;
}

.text-container > ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.text-container > ul > li {
    font-size: 0.875rem;
    color: #52525A;
    position: relative;
    margin-left: 25px;
}

.text-container > ul > li::before {
    content: url('Done_ring_round_fill.svg');
    width: 20px;
    height: 20px;
    background-size: cover;
    position: absolute;
    left: -30px;
    top: -5px;
}

.testimonial-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 35px;
}

.testimonial-card:nth-of-type(1) {
    grid-column: 3;
    grid-row: 1;
    margin-left: -150px;
}

.testimonial-card:nth-of-type(2) {
    grid-column: 2;
    grid-row: 2;
}

.testimonial-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px -3px #D4D4D8;
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card-header {
    display: flex;
    gap: 15px;
    align-items: center;
}

.card-header > img {
    width: 100px;
}

.card-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-body > h4 {
    font-size: 1rem;
    font-weight: 600;
}

.card-body > p {
    font-size: 1rem;
    color: #52525A;
    width: 90%;
    line-height: 25px;
}


@media (max-width: 1024px) {
    .container {
        flex-direction: column;
        justify-content: space-evenly;
        gap: 0;
        margin: 20px auto;
    }
}

@media (max-width: 640px) {
    .container {
        width: 90%;
        margin: 40px auto;
        gap: 50px;
    }


    .testimonial-card:nth-of-type(1) {
        grid-column: 2;
        grid-row: 1;
        margin-left: 0;
    }
    
    .testimonial-card:nth-of-type(2) {
        grid-column: 2;
        grid-row: 2;
    }
}